.deployment
.git
.github
.next
.results
.turbo  
.vscode

.dockerignore

node_modules
npm-debug.log
*Dockerfile*
docker-compose*
README.md
!apps/slackbot/README.md
!packages/db-python/README.md
LICENSE

*.swp

/aws
/scripts

.env*
!.env.vault

.flaskenv*
!.env.project
