.deployment
.git
.github
.next
.results
.turbo  
.vscode

.dockerignore

node_modules
npm-debug.log
*Dockerfile*
docker-compose*
README.md
LICENSE

*.swp

/aws
/scripts

.env*
!.env.vault

.flaskenv*
!.env.project

# Generated Python artifacts
**/__pycache__
**/*.py[cod]
**/*.egg-info
**/.pytest_cache
**/.ruff_cache
